{%  extends 'base.html' %}

{% block head %} 
<title>Posts</title>
{% endblock %}



{% block body %}
<br>
<div>
    <h1 style="display: inline;">Blog Posts</h1>
    <a style="display: inline;" class="btn btn-success float-right" href="/posts/new">+ New Post</a>
</div>
<div id="accordion">
    {% for post in posts %}
        <hr>
        <div class="card">
            <div class="card-header" id="heading{{post.id}}" style="background-color: #8BC4C1;">
                <button class="btn" data-toggle="collapse" data-target="#collapse{{post.id}}" aria-expanded="false" aria-controls="collapse{{post.id}}">
                    <h2 style="text-align: center;">{{ post.title }}</h2>
                    {% if post.author %}
                        <small> Written By: {{ post.author }} on {{ post.date_posted }}</small> 
                    {% else %}
                        <small> Written By: N/A on {{ post.date_posted }} </small> 
                    {% endif %}
                </button>
            </div>
        <!-- Collapsed Content -->
            <div id="collapse{{post.id}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion" style="background-color: #AAD4DA;">
                <p style="white-space: pre-wrap;">{{ post.content }}</p>
                <a class="btn btn-info" href="/posts/edit/{{post.id}}">Edit Post</a>
                <a class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete Post</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}